@charset "UTF-8";
@keyframes moveToRight {
    0% {
      transform: translateX(-10px);
      color: transparent;
    }
    100% {
      transform: translateX(0px);
    }
  }

:root{
    --cor1:rgba(112, 249, 49, 0.226);
}

*{
    padding: 0px;
    margin: 0px;
}

h1, h2, h3{
    font-variant: small-caps;
}

body{
    background-image: linear-gradient(to bottom, var(--cor1),rgba(255, 255, 255, 0.616), white,white, rgba(255, 255, 0, 0.316));
    font-family: sans-serif;
}
body > h1{
    text-align: center;
}
header{
    max-width: 95%;
    min-width: 400px;
    height: 80px;
    margin: 30px auto auto auto;
    border: 1px solid rgba(0, 0, 0, 0.137);
    border-radius: 40px;
    text-align: center;
    background-color: white;
    position: relative;
    box-shadow: 3px 2px 8px rgba(0, 0, 0, 0.173);
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.108);
}
header p{
    font-weight: bolder;
    font-size: 15px;
    position: absolute;
    top: 20px;
    left: 35px;
    font-weight: bold;
    font-style: italic;
}

header nav{
    position: absolute;
    top: 30px;
    right: 30px;
}
header nav a{
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    font-weight: bold;
    border-radius: 20px;
}
header a:hover{
    color: white;
    background-color: black;
    border-radius: 30px;
    padding: 20px;
    transition: 0.7s;
}

div#frase{
    min-height: 600px;
    position: relative;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.229); 
    font-family: Arial, Helvetica, sans-serif;
}
div#frase h1{
    position: absolute;
    top: 30%;
    left: 7%;
    line-height: 50px;
    font-weight: bolder;
    font-size: 46px;
    animation: moveToRight 0.6s ease-in-out;
    animation-delay: 1000ms;
}

section{
    font-size: 3.5vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
    border: 2.5px solid rgba(0, 0, 0, 0.393);
    border-radius: 15px;
    box-shadow: 3px 3px 8px rgba(59, 59, 59, 0.446);
    line-height: 2em;
}

section#proposta{
    max-width: 850px;
    
    margin: auto;
    text-align: center;
    font-size: 3.5vh;
    
    background-image: linear-gradient(to bottom, rgb(161, 252, 122), rgba(253, 255, 130, 0.332));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
section#proposta > h2{
    margin-bottom: 30px;
}

.solto{
    padding: 60px 0px 60px 0px;
    margin: 150px 0px;
}
main{
    max-width: 900px;
    margin: auto;
    text-align: center;
    font-size: 3.5vh;
    line-height: 2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
    border: 2.5px solid black;
    border-radius: 10px;
    background-image: linear-gradient(to bottom,  rgba(160, 249, 156, 0.446), rgb(105, 213, 255), rgba(160, 249, 156, 0.446));
    background-attachment: fixed;
}

.sobre{
    max-width: 900px;
    height: 40vh;
    margin: 30px auto;
    padding: 15px;
    border: 2.5px solid black;
    border-radius: 10px;
    position: relative;
    
}
.sobre > img{
    max-height: 190px;
    max-width: 100px;
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.206);
    border-radius: 200px;
    position: absolute;
    top: 10%;
    left: 3%;
}
.sobre > h3{
    position: absolute;
    top: 5%;
    left: 30%;
}
.sobre > p{
    position: absolute;
    top: 20%;
    left: 30%;
}
div.social{
    position: absolute;
    bottom: 2%;
    right: 2%;
    border-radius: 10px;
}
div.social > a{
    padding: 5px;
    display: inline-block;
}
div.social > a > img{
    height: 25px;
    height: 23px;
    padding: 8px;
    background-color: yellow;
    border-radius: 5px;
   
}
footer{
    padding: 20px;
    text-align: center;
}
footer p{
    color: rgba(42, 42, 42, 0.666);
    font-style: italic;
    padding: 10px;
}